---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Theme from "./Theme.astro";
import SummaryCard from "../components/SummaryCard.astro";
import FormattedEventDate from "../components/FormattedEventDate.astro";
import AddToCalendarButton from "../components/AddToCalendarButton.tsx";

type Props = CollectionEntry<"events">["data"];

const {
  title,
  description,
  startDate,
  startTime,
  endDate,
  endTime,
  heroImage,
  rsvpButtonUrl,
  rsvpButtonText,
  org,
  venue,
  venueAddress,
} = Astro.props;

const orgData = await getEntry(org);

let orgUrl = `/orgs/${org.id}`;

---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={heroImage} />
  </head>
  <Theme>
    <Header />
    <main class="event-page">
      <div class="container">
        <article class="card">
          <div class="hero-image">
            {
              heroImage && (
                <Image width={1020} height={510} src={heroImage} alt="" />
              )
            }
          </div>              
            <div class="pt-l px-l pb-xl">
              {org && <div class="org-name mb-xs pl-0 text-s text-gray-6">Hosted by: {orgData.data.title}</div>}
              <h1 class="event-title text-3xl text-accent">{title}</h1>
              <hr class="mb-l"/>   
              <ul class="date mb-m">
                <i class="fa-solid fa-clock mr-xs"></i>      
                <FormattedEventDate
                  startDate={startDate ? new Date(startDate) : undefined}
                  startTime={startTime ?? "00:00"}                  
                  endDate={endDate ? new Date(endDate) : undefined}                  
                  endTime={endTime ?? "00:00"}
                />
              </ul>
                <ul style="display: flex; align-items: baseline; gap: 0.5rem;">
                <i class="fa-solid fa-location-dot mr-xs"></i>
                <div style="display: flex; flex-direction: column; align-items:baseline;">
                  <p class="mt-0 mb-xs" style="font-weight: bold;">{venue}</p>
                  <p class="mt-0 mb-0">{venueAddress}</p>
                </div>
                </ul>
              <div class="ml-s" style={{display: "flex", gap: "1rem", alignItems: "center" }}>
              {
                rsvpButtonUrl && (
                  <a
                    href={rsvpButtonUrl}
                    class="rsvp-button"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    {rsvpButtonText ?? "Link"}
                  </a>
                )
              }                       
              <AddToCalendarButton        
                client:only="react"
                label="Add to Calendar" 
                name={title}
                options="'Apple','Google'"
                location={venue ?? undefined}
                startDate={startDate ? new Date(startDate).toISOString().split("T")[0] : undefined}
                endDate={endDate ? new Date(endDate).toISOString().split("T")[0] : undefined}
                startTime="00:00"
                endTime="00:00"
                timeZone="Singapore"
              />
            </div>
              <hr class="mb-l mt-m"/>   
            <div class="event-markup">
            <slot />
            </div>
            <ul class="tag-list mb-l">
              { Astro.props.tags?.slice(0, 10).map((tag) => (
                <li class="tag">
                  # {tag}
                </li>
              )) }
            </ul>
          </div>
        </article>
        <aside class="sticky-aside">
          <div class="event-panel">
            <SummaryCard
              title={title}
              description={description}
              startDate={startDate ? new Date(startDate).toISOString() : ""}
              startTime={startTime ?? "00:00"}              
              endDate={endDate ? new Date(endDate).toISOString() : ""}
              endTime={endTime ?? "00:00"}
              venue={venue ?? ""}
              venueAddress={venueAddress ?? ""}
              org={org && orgData.data.title}
              rsvpButtonUrl={rsvpButtonUrl ?? ""}
              rsvpButtonText={rsvpButtonText ?? "RSVP"}
            />
            <div class="org-info-container mt-xl">
              <a class="org-info__logo mb-l" href={orgUrl}>
                {
                  // if logoImage is defined, use it
                  orgData.data.logoImage && (
                    <Image width={360} height={360} src={orgData.data.logoImage} alt={title} />
                  )
                }
              </a>
              <div class="org-info__info-block">
                <div class="org-info__name text-bold text-accent text-xl mb-s">
                  {orgData.data.title}
                </div>
                <p>
                  {
                    // let max length be 150 characters
                    orgData.data.description.length > 150
                      ? `${orgData.data.description.slice(0, 150)}...`
                      : orgData.data.description
                  }
                </p>
                <div>
                  <a href={orgUrl}><i class="fa fa-arrow-right"></i> More events</a>
                </div>
              </div>
            </div>
          </div>
        </aside>

      <style lang="scss">
        .sticky-aside {
          position: sticky;
          top: 1rem; // Adjust this value to control the distance from the top of the viewport
          align-self: flex-start; // Ensures proper alignment in flex containers
        }
      </style>
      </div>
    </main>
    <Footer />
    </Theme>
</html>

<style lang="scss">
  .event-page {

    $article-width: 800px;
    $aside-width: 400px;
    $gap: 2rem;
    $padding-x: 1rem;
    padding: 4rem 0;
    
    .container {
      width: calc(#{$article-width} + #{$aside-width} + #{$gap} + 2 * #{$padding-x});
      max-width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: $gap;
      padding: 0 $padding-x;

      // >>> article      
      article {
        width: $article-width;
        min-width: 560px;
        background-color: white;
        .hero-image img {
          width: 100%;
          height: auto;
          max-height: 510px;
          object-fit: cover;
        }
      }

      // >>> right side summary info
      aside {
        width: $aside-width;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 1rem;
        > div {
          max-width: 100%; // prevent contents (e.g. long link text, like urls) from exceeding the container
        }        
      }
    }

    //
    // mobile layout
    //
  
    @media (max-width: 768px) {

      // remove top padding on main
      padding-top: 0; 
      
      //
      // stack article on top of aside
      //
      .container {

        flex-direction: column;
        gap: 0;
        width: 100%;
        max-width: 100%;
        padding: 0;

        article {
          min-width: 1px;
          width: 100%;
          margin-bottom: 2rem;
        }

        aside {
          width: 100%;
        }
        
      }
      
    }

    // >>> logo
    .event-panel {
      // square shape    
      width: $aside-width;
      height: $aside-width;
      background-color: transparent;
      border-radius: 10px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      margin-bottom: 2rem;
    }  
      .date {
        margin-bottom: 0.5em;
        color: rgb(var(--gray));
      }
      .last-updated-on {
        font-style: italic;
      }
      .event-title {
        margin-bottom: 0.5em;
        color: rgb(var(--gray));
      }
      .rsvp-button {
        display: inline-block;
        padding: 0.8em 1.6em;
        margin: 1em 0;
        background-color: var(--accent, #007BFF);
        color: white;
        text-decoration: none;
        border-radius: 4px;
        font-weight: bold;
        transition: background-color 0.2s ease;
      }
      .rsvp-button:hover {
        background-color: var(--accent,  #0056b3);
        color: white;
      }
      .org-name {
        color: rgb(var(--gray));
      }

      //
      // org info
      //
      .org-info-container{

        width: 100%;

        padding: 2rem;

        // >>> logo
        .org-info__logo{

          $size: 200px;
          
          width: $size;
          height: $size;

          // center the logo horizontally
          margin: 0 auto;
          
          background-color: white;
          border-radius: 10px;

          // center the content
          display: flex;
          justify-content: center;
          align-items: center;

          // padding to prevent content from touching the edges
          padding: 2rem;
          
        }

      }

  }

</style>

