---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Theme from "../../layouts/Theme.astro";
import Footer from "../../components/Footer.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import FormattedEventDate from "../../components/FormattedEventDate.astro";

const orgs = await getCollection("orgs");

const now = new Date();
const events = (await getCollection("events"))
  .filter((event) => {
    const startDate = new Date(event.data.startDate);
    return startDate >= now;
  })
  .sort((a, b) => a.data.startDate.valueOf() - b.data.startDate.valueOf());
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Theme>
    <Header />
    <main class="events-list-page pt-xl pb-3xl">
      <h1 class="text-3xl text-bold text-accent mb-xl">
        Upcoming Events
      </h1>
      <div class="container">
        <section>
          <ul class="event-list">
            {
              events.map((event) => (
                <li class="event-list-item">
                  <a class="card" href={`/events/${event.id}/`}>
                    <Image
                      width={720}
                      height={360}
                      src={event.data.heroImage}
                      alt=""
                    />
                    <div class="event-list-item__info">
                      <div class="org-name text-gray-5 mb-2xs">
                        {
                          orgs.find((org) => org.id === event.data.org.id)?.data
                            .title
                        }
                      </div>
                      <div class="event-title text-3xl text-bold mb-xs">{event.data.title}</div>
                      <div class="event-date mb-m">
                        <i class="fa fa-calendar-days"></i>
                        <FormattedEventDate
                          startDate={event.data.startDate}
                          startTime={event.data.startTime}
                          endDate={event.data.endDate}
                          endTime={event.data.endTime}
                        />
                      </div>
                      <ul class="tag-list">
                        { event.data.tags?.map((tag)=>{
                          return (
                            <li class="tag">
                              #{tag}
                            </li>
                          )
                        }) }
                      </ul>
                    </div>
                  </a>
                </li>
              ))
            }
          </ul>
        </section>
      </div>
    </main>
    <Footer />
  </Theme>
</html>

<style lang="scss">

  .events-list-page {
    text-align: center;
  }

  ul.event-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li.event-list-item a {

    $width: 720px;

    //------------------------------------------------------------

    // size
    max-width: $width;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
    // layout
    display: inline-block;
  
    // color
    color: inherit;
    &:visited{
      color: inherit;
    }

    // text
    text-decoration: none;

    // image
    img {
      max-width: 100%;
      width: 720px;
      height: auto;
    }

    // event info block
    .event-list-item__info {
      padding: 1rem;
      text-align: left;
    }

    &:hover .event-title {
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }

  }

</style>
