---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import FormattedEventDate from "../../components/FormattedEventDate.astro";

const orgs = await getCollection("orgs");

const now = new Date();
const events = (await getCollection("events"))
  .filter((event) => {
    const startDate = new Date(event.data.startDate);
    return startDate >= now;
  })
  .sort((a, b) => a.data.startDate.valueOf() - b.data.startDate.valueOf());
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="events-list-page">
      <div class="container">
        <section>
          <ul class="events-list">
            {
              events.map((event) => (
                <li class="event-list-item">
                  <a href={`/events/${event.id}/`}>
                    <Image
                      width={720}
                      height={360}
                      src={event.data.heroImage}
                      alt=""
                    />
                    <div class="event-list-item__info">
                      <div class="event-title">{event.data.title}</div>
                      <div class="org-name">
                        {
                          orgs.find((org) => org.id === event.data.org.id)?.data
                            .title
                        }
                      </div>
                      <div class="event-date">
                        <FormattedEventDate
                          startDate={event.data.startDate}
                          startTime={event.data.startTime}
                          endDate={event.data.endDate}
                          endTime={event.data.endTime}
                        />
                      </div>
                    </div>
                  </a>
                </li>
              ))
            }
          </ul>
        </section>
      </div>
    </main>
    <Footer />
  </body>
</html>

<style lang="scss">

  .events-list-page {
    text-align: center;
  }

  ul.events-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li.event-list-item a {

    max-width: 720px;
    
    display: inline-block;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;

    box-shadow: 10px 10px 0 0 rgba(175, 175, 175, 0.665);

    margin-top: 1rem;
    margin-bottom: 1rem;

    text-decoration: none;
    &:visited{
      color: inherit;
    }

    border: 3px solid transparent;
    &:hover {
      border-color: black;
    }

    // image
    img {
      width: 720px;
      height: 360px;
      max-width: 100%;
    }

    // event info block
    .event-list-item__info {
      padding: 1rem;
      text-align: left;
    }

    // event title
    .event-title {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }



  }

</style>
